{% extends "admin_layout.html" %}
{% block body %}
<div class="input-group">
  <span class="input-group-addon">ID:</span>
  <input type="text" class="form-control" id="brance_id">
</div>
<div class="input-group">
  <span class="input-group-addon">Name:</span>
  <input type="text" class="form-control" id="brance_name">
</div>
<div>
  <button type="button" class"btn btn-primary" id="gobutton" data-toggle="button" aria-pressed="false" autocomplete="off">
    Query
  </button
</div>
<div id='tablediv'>
</div>
<script type"text/javascript">
    $(function () {
        $("#gobutton").click(function(e) {
            var branch_id_value = $('#brance_id').val()
            var branch_name_value = $('#brance_name').val()
            $.ajax({url:'/branch_lookup', data:{branch_id:branch_id_value, branch_name:branch_name_value}, type:"POST", dataType:'json', success:function(data){
                if (data.ec == 200){
                    $('#tablediv').empty();
                    var table = $('<table></table>').addClass("table");

                    var row = $('<tr></tr>').append('<th>Branch id</th>').append('<th>Branch name</th>').append('<th>Branch address</th>');
                    table.append(row);
                    for (i in data.result){
                        var item = data.result[i];
                        var row = $('<tr></tr>');
                        for (j in item){
                            console.log(item[j])
                            row.append('<td>' + item[j] + '</td>')
                        }
                       table.append(row);
                    }
                    $('#tablediv').append(table);
                    alert('ok');
                }
                else {
                    var res = data.ec + ':' + data.em;
                    alert(res)
                }
            }});
        });
    });
</script>

{% endblock %}

