{% extends "customer_layout.html" %}
{% block body %}
<div class="input-group">
  <span class="input-group-addon">Name:</span>
  <input type="text" class="form-control" placeholder=" {{ profile.name}} " id="name">
</div>
<div class="input-group">
  <span class="input-group-addon">Email:</span>
  <input type="text" class="form-control" placeholder=" {{ profile.email}} " id="email">
</div>
<div class="input-group">
  <span class="input-group-addon">Phone:</span>
  <input type="text" class="form-control" placeholder=" {{ profile.phone}} " id="phone">
</div>
<div class="input-group">
  <span class="input-group-addon">ssn:</span>
  <input type="text" class="form-control" placeholder=" {{ profile.ssn}} " id="ssn">
</div>
<div class="input-group">
  <span class="input-group-addon">Change Password:</span>
  <input type="text" class="form-control"  id="password">
</div>
<div>
  <span class="input-group-btn">
     <button class="btn btn-default" type="button" id='gobutton'>Save</button>
  </span>
</div>

<script type"text/javascript">
    $(function () {
        $("#gobutton").click(function(e) {
            var name_value = $('#name').val()
            var email_value = $('#email').val()
            var phone_value = $('#phone').val()
            var ssn_value = $('#ssn').val()
            var password_value = $('#password').val()
            $.post('/profileedit', {name:name_value, email:email_value, phone:phone_value, ssn:ssn_value, password:password_value}, function(data){
                if (data.ec == 200){
                    alert('save ok');
                }
                else {
                    var res = data.ec + ':' + data.em;
                    alert(res)
                }
            });
        });
    });
</script>

{% endblock %}

