{% extends "admin_layout.html" %}
{% block body %}
<div class="input-group">
  <span class="input-group-addon">ID:</span>
  <input type="text" class="form-control" id="customer_id">
</div>
<div class="input-group">
  <span class="input-group-addon">Name:</span>
  <input type="text" class="form-control" id="customer_name">
</div>
<div>
  <span class="input-group-btn">
     <button class="btn btn-default" type="button" id='gobutton'>Query</button>
  </span>
</div>
<div id='tablediv'>
</div>
<script type"text/javascript">
    $(function () {
        $("#gobutton").click(function(e) {
            var customer_id_value = $('#customer_id').val()
            var customer_name_value = $('#customer_name').val()
            $.ajax({url:'/customer_lookup', data:{customer_id:customer_id_value, customer_name:customer_name_value}, type:"POST", dataType:'json', success:function(data){
                if (data.ec == 200){
                    $('#tablediv').empty();
                    var table = $('<table></table>');

                    var row = $('<tr></tr>').append('<th>Customer id</th>').append('<th>Customer name</th>').append('<th>Email</th>').append('<th>Phone</th>').append('<th>ssn</th>');
                    table.append(row);
                    for (i in data.result){
                        var item = data.result[i];
                        var row = $('<tr></tr>');
                        for (j in item){
                            console.log(item[j])
                            row.append('<td>' + item[j] + '</td>')
                        }
                       table.append(row);
                    }
                    $('#tablediv').append(table);
                    alert('ok');
                }
                else {
                    var res = data.ec + ':' + data.em;
                    alert(res)
                }
            }});
        });
    });
</script>

{% endblock %}

