{% extends "customer_layout.html" %}
{% block body %}
<div>
    <button type="button" class"btn btn-primary" id="querybutton" data-toggle="button" aria-pressed="false" autocomplete="off">
    Query
    </button
</div>
<div id="tablediv">
</div>
<script type="text/javascript">
  $(function() {
    $("#querybutton").click(function(e) {
        $.ajax({url:'/statement_lookup', type:"POST", dataType:'json', success:function(data){
                if (data.ec == 200){
                    $('#tablediv').empty();
                    var table = $('<table></table>').addClass("table");

                    var row = $('<tr></tr>').append('<th>Sid</th>').append('<th>Time period</th>').append('<th>Begin Balance</th>').append('<th>End Balance</th>');
                    table.append(row);
                    for (i in data.result){
                        var item = data.result[i];
                        var row = $('<tr></tr>');
                        for (j in item){
                            console.log(item[j])
                            row.append('<td>' + item[j] + '</td>')
                        }
                       table.append(row);
                    }
                    $('#tablediv').append(table);
                    alert('ok');
                }
                else {
                    var res = data.ec + ':' + data.em;
                    alert(res)
                }
            }});

    });
  });
</script>
{% endblock %}

