{% extends "customer_layout.html" %}
{% block body %}
<div class="input-group">
  <span class="input-group-addon">@</span>
  <input type="text" class="form-control" placeholder="Account" id="target">
</div>
<div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" class="form-control" id="amount">
</div>
<div>
  <span class="input-group-btn">
     <button class="btn btn-default" type="button" id='gobutton'>Transfer</button>
  </span>
</div>
<script type"text/javascript">
    $(function () {
        $("#gobutton").click(function(e) {
            var target_value = $('#target').val()
            var amount_value = $('#amount').val()
            $.ajax({url:'/transfertrade', data:{target:target_value, amount:amount_value}, type:"POST", dataType:'json', success:function(data){
                if (data.ec == 200){
                    alert('transfer ok');
                }
                else {
                    var res = data.ec + ':' + data.em;
                    alert(res)
                }
            }});
        });
    });
</script>

{% endblock %}

